@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root {
  
    --background: rgb(1,22,39);
      --black: rgb(1,22,39);
      --dark-gray: rgb(75,75,75);
      --light-gray: rgb(185,185,185);
      --white: rgb(214, 222, 235);
  
  }
  
  body {
      background: var(--background);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      font-size: 100%;
      color: var(--white);
      font-family: 'Roboto', sans-serif;
  }
  
  p {
    margin: 30px auto 0;
    padding: 20px;
    max-width: 720px;
    font-size: 120%;
    text-align: left;
  }
 
  #name{
    font-family: 'Ubuntu Mono', monospace;
  }
  #slash{
      color: red;
  }