@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=KoHo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
html {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5{
  font-family: 'Ubuntu Mono', monospace;
}
:root {
  
    --background: rgb(1,22,39);
      --black: rgb(1,22,39);
      --dark-gray: rgb(75,75,75);
      --light-gray: rgb(185,185,185);
      --white: rgb(214, 222, 235);
  
  }
  #bulb{
    display: none;
  }
  #nmode{
    color: var(--white);
    font-size: 1.3em;
  }
  
  body {
    max-width: 100%;
    overflow-x: hidden;
      background: var(--background);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      font-size: 100%;
      color: var(--white);
      font-family: 'Roboto', sans-serif;
      font-weight: 800;
  }
  
  p {
    margin: 30px auto 0;
    
    font-size: 1.2em;
    text-align: left;
  }
 
  #name{
    font-family: 'Ubuntu Mono', monospace;
    float: left;

  }

  #slash{
      color: red;
  }




*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}


.cnt {
 
  padding:1.5em;
  padding-top: 0px;
}
header {
  padding: 1em 0;
  
}


header::after {
  content: '';
  clear: both;
  display: block;
}



.logo{
  font-size: 2em;
}
.logo #logo-first {                 
  float: left;                    
  margin: 0;
  font-weight: 800;
  padding-right: 10px;
}

.logo #logo-last {
  float: left;
  font-weight: 800;
  padding-bottom: 20px;
}

.logo:hover #logo-last {    
  margin: 0;
  color: #00b3b3;
}

.logo:hover #logo-first {    
  margin: 0;
  padding-bottom: 20px;
  color: #f2f2f2;
}

#slash{
  color: red;
}
.site-nav {
  position: absolute;
  top: 100%;
  right: 0%;
  font-weight: 500;
  height: 0px;
  overflow: hidden;
}

.site-nav-open {
  height: auto;
  background-color:blanchedalmond;
  color: var(--white);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;  
}

.site-nav li {
  border-bottom: 1px solid #8c8c8c; 
}

.site-nav li:last-child {    
  border: none;
}

.site-nav a {           
  color: var(--white);
  display: block;
  padding: 2em 2em 2em 1.5em; 
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Ubuntu Mono', monospace;
}

.site-nav a:hover,        
.site-nav a:focus {
  background: #00b3b3;
  color: #4d4d4d;
}

.fab {
  padding: 20px;
  font-size: 40px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  margin-left: 10px;
  border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}
.fab:hover {
  opacity: 0.7;
}


.site-nav-icon  {
  display: inline-block;   
  font-size: 1.5em;
  margin-right: 1em;
  width: 1em;           
  text-align: right;  
  color: var(--white);  
}


.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 1.7em;
  right: 1em;
  cursor: pointer;
}



.hamburger,
.hamburger::before,
.hamburger::after {
  content:'';
  display: block;
  background: #00b3b3;
  height: 3px;
  width: 1.75em;
  border-radius: 2px;
  transition: all ease-in-out 500ms;
}


.hamburger::before {
  transform: translateY(-7px);
}


.hamburger::after {
  transform: translateY(4px);
}


.open .hamburger {
  transform: rotate(45deg);
  background: #ffc299;
}

.open .hamburger::before {
  opacity: 0;            
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
  background: #ffc299;
}


.containerfluid{
  padding-top: 3em;
  padding-left:5em;
  padding-right: 3em;
  margin: 0 auto;
  margin-top: 6em;
}
p{

font-weight: 0;
font-family: 'KoHo', sans-serif;
margin: 0px;
font-size: 1.5em;
}

@media (min-width:700px) {

  .menu-toggle {      
      display: none;
  }

  .site-nav {
      height: auto;
      position: relative;
      background: transparent;
      float: right;
      font-weight: 300;
  }

  .site-nav li {              
      display: inline-block;
      border: none;
  }

  .site-nav a {      
      padding: 0;
      margin-left: 3em;
      font-size: 1.5em;
  }
  
  .site-nav a:hover,    
  .site-nav a:focus {       
      background: transparent;
      font-weight: 800;
      color: #00b3b3;
  }

  .site-nav .site-nav-icon {   
      display: none;
  }
 
 .main{
   display: none;
 }
  
}
html {
  scroll-behavior: smooth;
}
@media (max-width:700px)
{
  
  .containerfluid{
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  .site-nav , open, .hamburger{
    display: none;
  }
.lt-2{
  width: 300px;
  height: 300px;
}
.lt-1{
  width: 500px;
  height: 500px;
}
p{
  font-size: 1.2em;
}
  
  ul{
    padding-left: 0;
  }
  h1{
    font-size: 2em;
  }
  .btn-lg{
    font-size: 1em;
  }
  #love{
    font-size: 1em;
  }
    .logo{
      font-size: 1.8em;
    }
  
}

.btn-lg{
  font-family: 'KoHo', sans-serif;
  background: rgb(77, 0, 150);
  color: white;
  font-weight: 600;
  margin-top: 30px;
}
.t2{
  margin-top:170px ;
}
.skills{
  font-size: 70px;
margin-left: 30px;
margin-right: 30px;
}

.projects{
  display: flex;
    flex-wrap: wrap;
}
.item {
  max-width: 420px;
  min-height: 350px;
  float: left;
  margin: 7px;
  position: relative;
  box-shadow: 0px 4px 6px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
  padding: 15px 15px 10px 5px;
  border-radius: 30px;
  padding: 10px;
  padding-top: 20px;
  padding-left: 20px;
  
}
.item2{
  max-width: 420px;
  min-height: 500px;
}

.item:hover {
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.5);
  translate: (180deg);
}
.title {
  font-size: 1em;
  font-weight: 900;
  
}
.item p{
  font-size: 1.2em;
  padding:5px 10px;
}
.item h4{
  font-weight: 900;
}
.type {
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  position: flex;
  color: #FFF;
  border:0px solid #fff;
  background-color: blue;
}
.tag {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

 
  position: absolute;
}
.we{
  margin-top: 3em;
}
.git{
  padding:20px;
}
.btn-warning{
  margin-right: 30px;
  color: black;
  font-family: 'KoHo', sans-serif;
  font-weight: 500;
  background-color: violet;
}
.heading{
  margin-bottom: 1em;
}
.works{
  
  display: flex;
    flex-wrap: wrap;
}
ul{
  padding-left:10px;
}
footer{
  text-align: center;
  margin-top: 2em;
}
header{
  position: fixed;
  overflow: hidden;
  top: 0%;
  width: 100%;
  background: var(--background);
  background-color: var(--background);
  z-index: 100;

}
.visitors{
  
}